requests
pandas
openpyxl
datasets
ragas
deepdiff
qdrant-client
langchain-huggingface
langchain-qdrant
langchain-unstructured
uvicorn[standard]
fastapi
unstructured[all-docs]
python-docx
PyMuPDF
pdfplumber
pytesseract
sentence-transformers
langchain-google-genai